fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
python-dotenv

langchain
langchain-openai
langchain-community
langchain-text-splitters

openai
faiss-cpu
pymupdf

streamlit
requests

pytest
pytest-asyncio
httpx
